/* My learning CSS */
#mylearning{
  padding-bottom: 80px;
}
#mylearning .learning-top{
    background: #111;
    padding-top: 50px;
}
#mylearning .heading h3 {
    font-family: "Noto Serif KR", serif;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
  }
  #mylearning .learning-tab .tab-items{
    background: #111;
    padding-top: 20px;
    display: flex;
  }
  #mylearning .learning-tab .tab-items .my-list{
    background: #111;
    display: flex;
  }
  #mylearning .learning-tab .tab-items .my-list li{
    color: #fff;
    padding: 0 25px 15px 0px;
    cursor: pointer;
  }
  #mylearning .learning-tab .tab-items .my-list li.active{
    border-bottom: 3px solid #fff;
  }
  #mylearning .learning-tab .mylearning-options{
    padding: 50px 0;
  }
  #mylearning .learning-tab .mylearning-options .allc{
    display: none;
  }

  #mylearning .learning-tab .mylearning-options .allc.activeoption{
    display: block;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list{
    display: flex;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item{
    width: 25%;
    position: relative;
    margin-right: 20px;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .overlay,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .overlay{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item:hover .overlay,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item:hover .overlay{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .overlay .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .overlay .buttons .start-btn,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .overlay .buttons .archive-btn{
    font-size: 16px;
    color: #fff !important;
    font-weight: 500;
    line-height: 26px;
    background: transparent;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    display: inline-block;
  
  }
  
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .overlay .buttons .start-btn:hover,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .overlay .buttons .archive-btn:hover{
    color: #F86F03 !important;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .img img,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .img img{
    width: 100%;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .details,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .details{
    border-bottom: 2px solid #999;
    padding: 10px 8px;
  }
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .details h5,
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .details h5{
    font-size: 18px;
    color: #444;
    font-weight: 600;
  }
  #mylearning .learning-tab .mylearning-options .allc.activeoption .course-list .course-item .details p,
  #mylearning .learning-tab .mylearning-options .arc.activeoption .course-list .course-item .details p{
    font-size: 15px;
    color: #777;
    font-weight: 400;
    padding: 10px 0;
  }
  #mylearning .learning-tab .mylearning-options .arc{
    display: none;
  }
  #mylearning .learning-tab .mylearning-options .arc.activeoption{
    display: block;
  }