/* Profile container CSS */
.container-full {
  width: 100%;
}
/* Profile Nav CSS */
.profile-part {
  display: flex;
}
.profile-nav {
  width: 6%;
  background: #111;
  padding: 15px;
  text-align: center;
}
.profile-nav .img {
  width: 40px;
  height: 40px;
  text-align: center;
}
.profile-nav .img img {
  width: 100%;
}
.profile-nav ul {
  margin-top: 20px;
}
.profile-nav ul li {
  padding: 10px;
}
.profile-nav ul li a {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.navbar {
  width: 100%;
  background: #fff !important;
  box-shadow: none;
}
.settingoptions {
  width: 94%;
  background: #fff;
}
.settingoptions .heading h3 {
  font-family: "Noto Serif KR", serif;
  font-size: 30px;
  color: #000;
  font-weight: 800;
}
.settingoptions .tab-item ul {
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #c2c0c0;
}
.settingoptions .tab-item ul li {
  display: inline-block;
  padding: 10px 0;
  margin-right: 20px;
  font-size: 16px;
  color: #777;
  font-weight: 600;
  cursor: pointer;
}
.settingoptions .tab-item .a,
.settingoptions .tab-item .b,
.settingoptions .tab-item .c{
  display: none;
  visibility: hidden;
}
.settingoptions .tab-item .a.abc,
.settingoptions .tab-item .b.abc,
.settingoptions .tab-item .c.abc{
  padding-top: 30px;
  padding-bottom: 80px;
  display: block;
  visibility: visible;
}
.mt-30{
  margin-top: 30px;
}
.mt-10{
  margin-top: 10px;
}
.settingoptions .tab-item .a.abc .firstname label,
.settingoptions .tab-item .a.abc .lastname label,
.settingoptions .tab-item .a.abc .headline label,
.settingoptions .tab-item .a.abc .biography label,
.settingoptions .tab-item .a.abc .website label, 
.settingoptions .tab-item .a.abc .facebook label, 
.settingoptions .tab-item .a.abc .twitter label, 
.settingoptions .tab-item .a.abc .linkedin label, 
.settingoptions .tab-item .a.abc .youtube label 
{
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.settingoptions .tab-item .a.abc .lastname input,
.settingoptions .tab-item .a.abc .firstname input,
.settingoptions .tab-item .a.abc .headline input,
.settingoptions .tab-item .a.abc .website input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  outline: 0;
}
.settingoptions .tab-item .a.abc .biography input{
  width: 100%;
  padding: 30px;
  border: 1px solid #000;
  outline: 0;
}
.settingoptions .tab-item .a.abc .biography .customize-tools{
  border: 1px solid #000;
  border-bottom: none;
  padding: 10px;
  margin-top: 10px;
}
.settingoptions .tab-item .a.abc .biography .customize-tools button{
  background: none;
  border: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.settingoptions .tab-item .a.abc .biography .customize-tools .italic{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  margin-left: 20px;
}
.settingoptions .tab-item .a.abc .biography p{
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}
.settingoptions .tab-item .a.abc .langu{
  margin-top: 20px;
}
.settingoptions .tab-item .a.abc .langu select{
  width: 100%;
  border: 1px solid #000;
  font-size: 16px;
  color: #000;
  padding: 10px;
}
.settingoptions .tab-item .a.abc form .bttn{
  background: #000;
  border: 1px solid #000;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 20px;
}
.settingoptions .tab-item .a.abc .links{
  display: flex;
}
.settingoptions .tab-item .a.abc .links .url{
  border: 1px solid #000;
  border-right: none;
  background: #f5f5f5;
  padding: 10px;
}
.settingoptions .tab-item .a.abc .links input{
  width: 61%;
  padding: 10px;
  border: 1px solid #000;
  outline: 0;
}
.settingoptions .tab-item .b.abc .img-up{
  padding-top: 30px;
  padding-bottom: 80px;
}
.settingoptions .tab-item .b.abc .img-up h6 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.settingoptions .tab-item .b.abc .img-up p {
  font-size: 14px;
  color: #444;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
}
.settingoptions .tab-item .b.abc .img-up .img-part{
  font-size: 200px;
  color: #777;
  font-weight: 400;
  background: #f5f5f5;
  line-height: 200px;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
  margin-top: 20px;
}
.settingoptions .tab-item .b.abc .img-up .img-input{
  position: relative;
}
.settingoptions .tab-item .b.abc .img-up .img-input input{
  color: transparent;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  z-index: 1;
}
.settingoptions .tab-item .b.abc .img-up .img-input input::-webkit-file-upload-button{
  visibility: hidden;
}
.settingoptions .tab-item .b.abc .img-up .img-input span{
  position: absolute;
  top: 15px;
  left: 0;
  background: #f5f5f5;
  border: 1px solid #000;
  width: 75%;
  padding: 10px;
  cursor: pointer;
}
.settingoptions .tab-item .b.abc .img-up .img-input .upload{
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  border: 1px solid #000;
  border-left: none;
  width: 25%;
  padding: 10px;
  cursor: pointer;
}
.settingoptions .tab-item .b.abc .img-up .bttn{
  background: #000;
  border: 1px solid #000;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 80px;
}
.settingoptions .tab-item .c.abc{
  padding-bottom: 300px;
}
.settingoptions .tab-item .c.abc .check{
  position: relative;
}
.settingoptions .tab-item .c.abc .check label {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.settingoptions .tab-item .c.abc .check input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
}
.settingoptions .tab-item .c.abc .check input[type="checkbox"]:checked{
  background: #000;
}
.settingoptions .tab-item .c.abc .check span{
  color: #fff;
  position: absolute;
  top: -1px;
  left: 2px;
  font-size: 14px;
}
.settingoptions .tab-item .c.abc .check input[type="checkbox"]::after{
  content: '\f00c';
  color: #fff;
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 15px;
  font-family: "Font Awesome 6.4.0 Free";
  z-index: 1;
}

.settingoptions .tab-item .c.abc .check input[type="checkbox"]:checked:after{
  color: #000;
  display: none;
}
.settingoptions .tab-item .c.abc .bttn{
  background: #000;
  border: 1px solid #000;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 20px;
}
.settingoptions .tab-item ul li.active {
  font-size: 16px;
  color: #444;
  font-weight: 600;
  border-bottom: 1px solid #000;
}
/* Profile Setting CSS */
.profile-setting {
  width: 100%;
  justify-content: flex-end;
}

/* Side nav bar CSS */
#sidenavbar {
  width: 50px;
  height: 100vh;
  background: #222;
}
