
/* Small devices*/
@media (max-width:575px) {
    .heading h2{
        font-size: 23px;
        line-height: 30px;
    }
    /* Navbar responsive */
    .offcanvas-body{
        height: 70vh !important;
    }
    .navbar{
        padding: 10px 0 !important;
    }
    .res-menu{
        display: block;
    }
    .res-nav{
        background: transparent;
        color: #000;
        border: 1px solid #000;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
    }
    .btn-close{
        margin-left: auto;
    }
    .searchbar,.cart, .loginbtn{
        display: none;
    }
    .navbar .language{
        display: none;
    }
    .res-innerNav{
        border-bottom: 1px solid #444;
        padding: 10px 0;
    }
    .res-innerNav h5{
        border-bottom: 1px solid #444;
        padding: 10px 0;
    }
    .res-navItem li a{
        padding: 10px;
    }
    .res-loginbtn a{
        font-size: 16px;
        color: #fff !important;
        font-weight: 500;
        line-height: 36px;
        background: #111;
        border: 1px solid #111;
        padding: 5px 25px !important;
    }
    .res-changeLanguage{
        border-bottom: 1px solid #444;
        padding: 10px 0;
        cursor: pointer;
    }
    .res-changeLanguage h5{
        border-bottom: 1px solid #444;
        padding: 10px 0;
        cursor: pointer;
    }

    /* Banner part responsive */
    #banner .banner-text{
        display: none;
    }

    /* Course selection start */
    #course-selection{
        padding: 40px 20px;
    }
    #course-selection .heading h2{
        font-size: 23px;
        line-height: 30px;
    }
    #course-selection p{
        line-height: 23px;
    }
    #course-selection .videos-option{
        margin-top: 30px;
    }
    #course-selection .videos-option .video-slider .slider-item{
        margin-right: 0;
    }
    #course-selection .videos-option .video-slider .next{
        right: -20px;
    }

    /* Review part responsive */
    #review-part .heading{
        margin-left: 0;
        text-align: center;
    }
    #review-part .review-slider .slider-item{
        position: relative;
        height: 530px;
        padding: 20px;
    }
    #review-part .review-slider .slider-item .review-text{
        width: 100%;
    }
    #review-part .review-slider .slider-item .image{
        width: 120px;
        height: 120px;
        position: absolute;
        bottom: 85px;
        left: 80px;
    }
    #course-selection .videos-option .video-slider .slider-item .img img{
        width: 100%;
    }
    #review-part .review-slider .next{
        top: 40%;
        right: -10px;
    }

 }

/* Medium devices*/
@media (min-width: 768px) {  }

/* Large devices*/
@media (min-width: 992px) {  }

/* X-Large devices*/ 
@media (min-width: 1200px) {  }

/* XX-Large devices*/
@media (min-width: 1400px) {  }