/* Common Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
ul,ol{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
a,a:hover,a:active{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.heading h2{
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    color: #222;
    font-weight: 700;
    line-height: 1.25rem;
}

/* Navbar Css */
.navbar{
    background: #f5f5f5 !important;
    padding: 0 !important;
}
.navbar ul li a{
    font-size: 16px;
    color: #222 !important;
    font-weight: 400;
}
form .searchbar{
    width: 590px;
    margin-left: 20px;
    position: relative;
}
form .searchbar .srch-icon{
    position: absolute;
    top: 7px;
    left: 20px;
    font-size: 20px;
    color: #939292;
    background: transparent;
    border: none;
}
form .searchbar input{
    width: 100%;
    border: 1px solid #444;
    border-radius: 25px;
    padding: 10px 50px;
    outline: 0;
}
.navbar span{
    padding: 20px;
}
.navbar .cart a{
    font-size: 20px;
    color: #222;
}
.navbar .loginbtn a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
    background: #222;
    border: 1px solid #222;
    padding: 5px 25px;
}
.navbar .language select{
    border: none;
    outline: 0;
}

/* Banner part */
#banner{
    background: url(../assets/images/banner.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
}
#banner .banner-text{
    background: #fff;
    padding: 40px 20px;
    margin-left: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
}
#banner .banner-text h1{
    font-family: 'Noto Serif KR', serif;
    font-size: 2.4rem;
    color: #111;
    font-weight: 900;
}
#banner .banner-text p{
    font-size: 20px;
    color: #444;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

/* Course selection start */
#course-selection{
    background: #f5f5f5;
    padding: 80px 0;
}
#course-selection p{
    font-size: 16px;
    color: #444;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

#course-selection .selecting-option,
#course-selection .selecting-option ul{
    width: 100%;
    background: #fff;
}
#course-selection .selecting-option ul li{
    width: 100%;
    background: #fff;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    line-height: 26px;
    padding: 12px 30px;
    cursor: context-menu;
    transition: .4s;
}
#course-selection .selecting-option ul .chooseItem.active{
    background: #222;
    color: #fff;
}
#course-selection .selecting-option ul li:hover{
    background: #222;
    color: #fff;
}
#course-selection .videos-option{
    position: relative;
}
#course-selection .videos-option .video-slider .slider-item{
    background: #fff;
    margin-right: 20px;
}

#course-selection .videos-option .video-slider .slider-item .img img{
    width: 100%;
}
#course-selection .videos-option .video-slider .slider-item .details{
    height: 50%;
    padding: 20px;
}
#course-selection .videos-option .video-slider .slider-item .details h5{
    font-size: 18px;
    color: #343434;
    font-weight: 600;
    line-height: 24px;
}
#course-selection .videos-option .video-slider .slider-item .details p{
    font-size: 16px;
    color: #444;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
}
#course-selection .videos-option .video-slider .slider-item .details .rating .point{
    display: inline-block;
    font-size: 16px;
    color: #343434;
    font-weight: 500;
}
#course-selection .videos-option .video-slider .slider-item .details .stars{
    color: #FFB84C;
}
#course-selection .videos-option .video-slider .slider-item .details .price h6{
    font-size: 20px;
    color: #343434;
    font-weight: 700;
    margin-top: 10px;
}
#course-selection .videos-option .video-slider .next{
    position: absolute;
    top: 50%;
    right: 0;
    background: #343434;
    border: 1px solid #343434;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
}

/* Review part */
#review-part{
    background: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 80px;
}
#review-part .review-slider{
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.59);
}
#review-part .review-slider .slider-item{
    display: flex;
    background: #fff;
    padding: 40px;
}
#review-part .review-slider .slider-item .review-text{
    width: 70%;
}
#review-part .review-slider .slider-item .image{
    width: 30%;
    display: flex;
    justify-content: center;
}
#review-part .review-slider .slider-item .image h6{
    font-size: 18px;
    color: #343434;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
}
#review-part .review-slider .slider-item .image p{
    font-size: 16px;
    color: #939292;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
#review-part .review-slider .next{
    position: absolute;
    top: 50%;
    right: -20px;
    background: #343434;
    border: 1px solid #343434;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
}

/* Footer part */
#footer-part{
    background: #343434;
    padding-top: 40px;
    padding-bottom: 20px;
}
#footer-part ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0;
}
#footer-part h3{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    line-height: 32px;
}
#footer-part p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    margin-top: 163px;
}