/* Video Player CSS */
#video-nav{
    background: #111;
    border-bottom: 1px solid #444;
    padding: 15px 0;
}
#video-nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #444;
}
#video-nav .logo img{
    width: 135px;
    height: 50px;
}
#video-nav .title{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#video-nav .title h5{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
}
#video-nav .progress-share{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#video-nav .progress-share .progress-br{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#video-nav .progress-share .progress-br .progressbar{
    width: 40px;
    height: 40px;
    border: 2px solid #777;
    border-radius: 50%;
}
#video-nav .progress-share .progress-br p{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
#video-nav .progress-share .share{
    width: 30%;
    display: flex;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    cursor: pointer;
}
#video-nav .progress-share .share span{
    margin-left: 10px;
}
#video-nav .progress-share .option{
    width: 15%;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}
/* ------------- */
#videoplayer .video-part{
    background: #111;
    display: flex;
    justify-content: center;
    height: 400px;
    position: relative;
}
#videoplayer .video-part .video-inner{
    background: #000;
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#videoplayer .video-part .video-inner .play{
    width: 60px;
    height: 60px;
    background: #111;
    border: 1px solid #111;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
#videoplayer .video-part .video-settings{
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}
#videoplayer .video-part .video-settings .playtime{
    height: 5px;
    background: #f1f1f1;
    position: relative;
}
#videoplayer .video-part .video-settings .playtime::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 5px;
    background: #a435f0;
}
#videoplayer .video-part .video-settings .setting-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: #fff;
}
#videoplayer .video-part .video-settings .setting-buttons span{
    cursor: pointer;
}
#videoplayer .video-list{
    background: green;
    height: 400px;
}